body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
}

h1 {
  font-size: 30px;
  background: -webkit-linear-gradient(#f8fffb, #1de1ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-status-container {
  text-align: center;
}

table {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
}

td {
  border: 0.5px solid white;
  text-align: center;
  border-radius: 5px;
  /* background-color: green; */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.number-container {
  margin: 50px;
}

span {
  background-color: rgb(9, 176, 9);
  color: white;
  font-size: 30px;
  padding: 15px 30px;
  /* padding: 15px 20px for 2 digits */
  border-radius: 50px;
}

.action-button-container {
  display: flex;
  flex-direction: column;
}

.delay-container {
  margin: 20px 0;
  color: white;
}

input {
  border-radius: 3px;
  font-size: 13px;
  height: 20px;
  width: 30px;
  background-color: rgb(214, 255, 29);
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:hover {
  color: #00ffd5;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.highlight {
  background-color: rgb(9, 176, 9); /* Green */
}

.span-number {
  padding: 15px 20px;
}
